html,body {
  margin: 0;
  width: 100%;
  height: 100%;

}

body {
  background-color: #dbdbd4;
}

.nav {
  overflow: hidden;
  background-color: #e9e9e9;
  display: flex;
  padding: 5px 0 5px 0;
  display: flex;
  justify-content: space-between;
}

.nav__div__one {
  display: flex;
}

.nav__div__one__user {
  display: flex;
  align-items: center;
}

.nav__div__two__button{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 8px 16px;
  margin-left: 5px;
  text-decoration: none;
  font-size: 17px;
}

.nav__div__two__button:hover {
  background-color: #ddd;
  color: black;
}

.nav__div__two__button:active {
  background-color: #2196F3;
  color: white;
}

.nav__div__one__input {
  margin-left: 5px;
}

.nav__div__one__user {
  margin: 0 10px 0 5px;
}

#grocery-button {
  margin-right: 10px;
}

.body__article {
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
}

.body__article__image {
  width: 100%;
  height: 100%;
}

.body__article__div {
  position: absolute;
  height: 250px;
  width: 250px;
  background-color: #4B6A88;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  bottom: 100px;
  right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body__main__section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.body__main__section__article {
  height: 450px;
  width: 375px;
  margin: 25px 0 25px 0;
  background-color: #2196F3;
  display: flex;
  flex-direction: column;
}

.body__main__section__article__image {
  max-width:100%;
  flex: 0 1 auto;
}

.body__main__section__article__text {
  background-color: #4B6A88;
  color: #C8F7C5;
  height: max-content;
  flex: 1 1 auto;
  text-align: center;
}

.body__main__section__article__button {
  flex: 0 1 40px;
}

.nav__content {
  width: 100%;
  height: 50px;
  margin: 15px 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.nav__content__slider-wrapper {
  font-size: 40px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__content__slider{
  height: 50px;
  padding-left:15px;
  overflow: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav__content__slider div {
  color:#fff;
  height: 50px;
  margin-bottom: 50px;
  padding: 2px 15px;
  text-align: center;
  box-sizing: border-box;
}

.nav__content__slider-text1 {
  background: lightgreen;
  animation: slide 7s linear infinite;
}

.nav__content__slider-text2 {
  background: skyblue;
}

.nav__content__slider-text3 {
  background: lightcoral;
}

@keyframes slide {
  0% {margin-top:-300px;}
  5% {margin-top:-200px;}
  33% {margin-top:-200px;}
  38% {margin-top:-100px;}
  66% {margin-top:-100px;}
  71% {margin-top:0px;}
  100% {margin-top:0px;}
}

.body__main__section__article__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bolder;
}

.body__main__section__article__modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.body__main__section__article__modal__content {
  background-color: #dbdbd4;
  color: #4B6319;
  font-size: 18px;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.body__main__section__article__modal__content__wrapper__div {
  display: flex;
}

.nav__div__one__button {
  height: 39px;
  width: 39px;
  background-image: url("../assets/loupe.svg");

}

.nav__div__one__button:hover {
  background-color: grey;
}

.nav__div__one__button:active {
  background-color: lightblue;
  box-shadow: 0 2px #666;
  transform: translateY(1px)
}

.favorite-button, .grocery-button {
  margin-right: 15px;
}

.favorite-button:active, .grocery-button:active, .cook-button:active {
  box-shadow: 0 2px #666;
  transform: translateY(1px)
}